<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Students!</title>
</head>
<body>
<h1>Welcome Students!</h1>

<!-- TODO:jcz add sign-in below -->

<form action="/sign-in" method="post">

    <input type="text" placeholder="What's your username?" name="username">
<button>Sign in</button>
</form>
</body>
</html>